.boardChangeContainer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}