.gameContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.boardContainer {
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}